[submodule "Tools/MarketCommons"]
	path = Tools/MarketCommons
	url = https://github.com/marrus-sh/MarketCommons-Racket.git
[submodule "Fonts/Source-Serif-Pro"]
	path = Fonts/Source-Serif-Pro
	url = https://github.com/adobe-fonts/source-serif-pro.git
[submodule "Fonts/Mplus-Fonts"]
	path = Fonts/Mplus-Fonts
	url = https://github.com/rayshan/mplus-fonts.git
[submodule "Tools/Kico"]
	path = Tools/Kico
	url = https://github.com/marrus-sh/Kico.git
[submodule "Tools/xmldom"]
	path = Tools/xmldom
	url = https://github.com/xmldom/xmldom.git
[submodule "Fonts/Elstob"]
	path = Fonts/Elstob
	url = https://github.com/psb1558/Elstob-font.git
[submodule "Fonts/Junicode-New"]
	path = Fonts/Junicode-New
	url = https://github.com/psb1558/Junicode-New.git
[submodule "Apps/Writer"]
	path = Apps/Writer
	url = https://github.com/marrus-sh/writer.git
[submodule "Tools/Kijch"]
	path = Tools/Kijch
	url = https://github.com/marrus-sh/Kijch.git
